<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.go4sumbergedang.go4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Go4"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.ViewFullImageActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.DetailAkunActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TrackingOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CekOngkirOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PilihLokasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ActivityMaps"
            android:exported="false" />
        <activity
            android:name=".ui.activity.KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailKeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailRiwayatOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailRestoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DataRestoTerdekatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RootActivity"
            android:exported="false"
            android:label="@string/title_activity_root" />
        <activity
            android:name=".ui.activity.UlasanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>